extends layout

block content
  h2= title
  hr
  p Fill in the form below to sign in

  include ./messages.jade

  form#entryForm(action='/entry', method='post')
    div
      label(for='street') Street
      select

    div
      label(for='name') name of current or former resident
      input#name(type='text', name='entry[name]')
    div
      label(for='address') address
      input#address(type='text')
    div
      p Is the property currently occupied?
      label(for='yes') yes
      input#yes(type='radio', value='1', name='entry[occupied]', checked)
      label(for='no') no
      input#no(type='radio', value='0', name='entry[occupied]')
    div
      label(for='category') What type of business is the current resident?
      select#category(name='entry[category]')
        option(disabled, selected) none

    div
      label(for='comments') Comments:
      <br>
      textarea#comments(name='entry[comments]')
    div
      input#submit(type='submit', value='Submit')