doctype html
html
  head
    title Storefronts
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='public/css/style.css')
  body
    #pageWrapper
      .container
        header.page-header.clearfix
          h1.pull-left Storefronts 
          if locals.username
            .user-info.pull-right
              .user-name Logged in as #{locals.username}
              a.btn-logout.btn.btn-warning(href='/logout') logout
        if pageName === 'Admin'
          nav
            ul.nav.nav-pills
              li
                a(href='/api/stores') stores
              li
                a(href='/api/streets') streets
              li
                a(href='/api/categories') categories
        block content
