doctype html
html
  head
    title #{title} | Store Fronts
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      header
        h1
          a(href='/') Store Fronts
      block content
