extends layout

block content
  h2= title
  hr
  p Fill in the form below to sign in

  include ./messages.jade

  form#signupForm(action='/login', method='post')
    div
      label(for='username') Username
      br
      input#username(type='text', name='user[name]', placeholder='Username')
    div
      label(for='password') Password
      br
      input#password(type='password', name='user[pass]')
    input#submitBtn(type='submit', value='Login')