extends layout

block content
  .row
    .col-md-8.col-md-offset-2
      h2= pageName
      hr
      p Fill in the form below to sign in.

      form#loginForm(action='/login', method='post')
        .form-group
          label(for='username') Username
          input#username.form-control(type='text', name='user[name]', placeholder='Username', required)
        
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', name='user[pass]', required)
        
        input.btn.btn-primary(type='submit', value='Login')

  script(src='public/js/login.js')
